/*
#chabad_head {
	 background: #332710;
	border: 2px solid #0d0e0e;	
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
*/


#chabad_body_page {
	background: beige;
}


#chabad_main_content {
	background: #FFFFFF;
}

/*
#chabad_body_content {
	background: rgba(222, 184, 135, 0.39) !important;
}
*/

.parent arrow {
	background: black !important;

}

#chabad_menu_content {
	color: #7b5c30 !important;
	border-bottom: 1px solid;
}

#chabad_head .chabad_navigator_bar .chabad_menu_content {
    color: #7b5c30 !important;
	border-bottom: 1px solid;
}

http://w5.chabad.org/images/1/global/bullets/down_triangle_blue-grey.png
