/*
#chabad_head {
	 background: #332710;
	border: 2px solid #0d0e0e;	
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
*/


#chabad_body_page {
	background: beige;
}


#chabad_main_content {
	background: #FFFFFF;
}

/*
#chabad_body_content {
	background: rgba(222, 184, 135, 0.39) !important;
}
*/

#chabad_menu_content {
	color: #7b5c30 !important;
	border-bottom: 1px solid;
}

#chabad_head .chabad_navigator_bar .chabad_menu_content {
    color: #7b5c30 !important;
	border-bottom: 1px solid;
}


.chabad_navigator_bar ul li a.arrow {
    background: url('http://w5.chabad.org/images/1/global/bullets/down_triangle_blue-grey.png') no-repeat right center !important;
    padding-right: 21px !important;
}

.sub_menu {
    background: beige;
}

.cco_templateless_template, .cco_templateless_template a{
color: beige !important;
}

.cco_templateless_template {
background-image: url() !important;
background-color: rgba(45, 45, 45, 0.62) !important;
}

div#chabad_left_colum, div.chabad_left_colum, div.chabad_left_column{
float: left;
    margin-left: 15px !important;
    margin-bottom: 0 !important;
    width: 97% !important;
    margin-right: 15px !important;
}

.b-icon, a:hover {
	background-color: green; }

a.b-icon:hover, a.b-icon:active {background-color: red;}

.overlay, a:hover{
    position: absolute;
    z-index: 1000; /* Something high */
    height: 200px;
    width: 200px;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -100px; /* Negative half width */
    margin-top: -100px; /* Negative half height */
    box-shadow: 0 0 0 2038px rgba(0,0,0,.5); /* The semi-transparent bg. Something weird about Safari and numbers bigger than 2038 */
    -webkit-transition: 1s; /* Little extra spice */
    border-radius: 5px;
}

.img2, hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
